<form class="search" name="buscaForm" method="get" data-search="suggestion" action="{{ links.search }}">
    <input type="hidden" name="loja" value="{{ store.id }}" />
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="input-group">
                <input class="form-control" data-input="suggestion" placeholder="Digite o que procura..." tabindex="0" type="text" />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Buscar</button>
                </span>
            </div>
        </div>
    </div>
</form><!-- .search -->